*{
    margin: 0;
}
body{
    font-family: 'League Spartan', sans-serif;
}
a{
    padding: 1em;
    text-decoration: none;
    color: #fffdf6;
}
a:hover, a:focus{
    color:#202f73
}

/*BARRA DE NAVEGACION CON FLEXBOX*/
.navbar{
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: #961443;
    overflow: hidden;
    height: 80px;
    padding: 10px;
}
.nav_links a{
    display: inline-block;
    text-align: center;
}
.nav_links a:active {
    background-color: #fffdf6;
    color: #961443;
    border-radius: 20px;
}
.dropbtn{
    display: none;
}
.nav_buttons{
    display:inline-block;
    background-color: #202f73;
    border-radius: 10px;
    padding: 5px;
}
.nav_buttons a:hover, .nav_buttons a:focus{
    color: #961443;
}

/*GRID*/
.container{
    width: auto;
    display: grid;
    grid-gap: 20px;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto repeat(3, 50vh);
    background-color: #fffdf6;
}
.landing{
    grid-column: 1 / span 3;
    height: 75vh;
    padding: 20px;
    border-style:hidden;
    border-color: #202f73;
    border-radius: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://i.ibb.co/QCBFGYn/bibliotekarie-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: 0.2s;
    margin: 20px;
}
.landing:hover{
    opacity: 0.9;
}
.landing_content{
    height: inherit;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    padding: 10px;
}
.landing_title{
    align-self: center;
    text-align: right;
    font-size: 2em;
    font-weight: lighter;
    transition: 0.2s;
}
.landing_p{
    line-height: 1.5;
    margin: 1em 0 2em;
    font-size: 2em;
    font-weight: lighter;
    transition: 0.2s;
}
.landing_button{
    align-self: center;
    color: #fffdf6;
    font-size: 2em;
    font-weight: bold;
    padding: 5px;
    transition: 0.2s;
}
.landing_p:hover, .landing_title:hover, .landing_button:hover{
    text-shadow: 4px 4px 3px black;
}
.landing_p:hover, .landing_title:hover{
    font-size: 2.1em;
}
.landing_button:hover, .landing_button:focus{
    transform: scale(1.3,1.3);
    color: #fffdf6;
}
.item{
    border-style: solid;
    border-color: #202f73;
    padding: 10px;
    color: black;
    border-radius: 5px;
}
.boton_todos{
    border-style: solid;
    border-color: #202f73;
    padding: 10px;
    color: black;
    border-radius: 5px;
    grid-column: 1 / span 3;
    grid-row: 4 / 5;
}

/*RESPONSIVE CON MEDIA QUERIES*/
@media only screen and (max-width: 650px){
    .dropbtn {
        display: inline-block;
        text-align: center;
        cursor: pointer;
    }
    .fa-bars{
        font-size: 200%;
    }
    .dropdown {
        position: inherit;
        display: inline-block;
        cursor: pointer;
    }
    .dropcontent {
        display: none;
        position: absolute;
        background-color: #961443;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropcontent a {
        color: #fffdf6;
        padding: 12px 16px;
        text-decoration: none;
        font-size: 125%;
        /* display: block; */
    }
    .dropcontent a:hover {
        color:#202f73;
    }
    .dropdown:hover .dropcontent{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 200px;
    }
    .dropdown:hover .dropbtn {
        background-color: #fffdf6;
    }
    .nav_buttons a{
        font-size: 150%;
    }
    .landing, .item{
        grid-column: 1 / span 3;
    }
    .container{
        display: grid;
        gap: 20px;
        padding: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto repeat(3, 90vw) 1fr;
        background-color: #fffdf6;
    }
    .navbar{
        justify-content: space-between;
        padding: 5px;
    }
    .contenido4, .contenido5, .contenido6{
        display:none;
    }
    .boton_todos{
        grid-row: 5 / 6;
    }
}
@media only screen and (min-width: 650px){
    .container{
        display: grid;
        gap: 20px;
        padding: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto repeat(2, 45vw) 1fr;
        background-color: #fffdf6;
    }
    .landing{
        grid-column: 1 / span 2;
    }
    .contenido5, .contenido6{
        display:none;
    }
    .boton_todos{
        grid-column: 1 / span 2;
        grid-row: 4/5;
    }
    .nav_links *{
        font-size: 125%;
    }
    .nav_buttons a{
        font-size: 150%;
    }
}
@media only screen and (min-width: 770px){
    .container{
        display: grid;
        gap: 20px;
        padding: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto repeat(2, 30vw) 1fr;
        background-color: #fffdf6;
    }
    .landing{
        grid-column: 1 / span 3;
    }
    .contenido5, .contenido6{
        display:inline-block;
    }
    .boton_todos{
        grid-column: 1 / span 3;
        grid-row: 4/5;
    }
    .nav_links *{
        font-size: 125%;
    }
}
@media only screen and (min-width: 1200px){
    .container{
        display: grid;
        gap: 20px;
        padding: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto repeat(2, 30vw) 1fr;
        background-color: #fffdf6;
    }
    .landing{
        grid-column: 1 / span 3;
    }
    .boton_todos{
        grid-column: 3/4;
        grid-row: 4/5;
    }
    .nav_links *{
        font-size: 150%;
    }
    .nav_buttons a{
        font-size: 200%;
    }
}
/*
.contenido1{

}
.contenido2{
    grid-area: contenido2;
}
.contenido3{
    grid-area: contenido3;
}
*/

.footer{
    position: absolute;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: #961443;
    height: 40px;
    padding: 0px;
}